<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">User Id</label>
            <input type="text" formControlName="userId" name="userId" [(ngModel)]="deleteRequest.userId"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" readonly />
            <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                <div *ngIf="f.userId.errors.required">UserId is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" name="firstName" [(ngModel)]="deleteRequest.firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" name="lastName" [(ngModel)]="deleteRequest.lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="text" formControlName="email" name="email"  [(ngModel)]="deleteRequest.email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="role">Role</label>
            <input type="text" formControlName="role" name="role" [(ngModel)]="deleteRequest.role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="address">Address</label>
            <input type="text" formControlName="address" name="address" [(ngModel)]="deleteRequest.address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>